ANTHROPIC_API_KEY=YOUR_ANTHROPIC_API_KEY_HERE
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
TOGETHERAI_API_KEY=YOUR_TOGETHERAI_API_KEY_HERE
S2_API_KEY=YOUR_SEMANTIC_SCHOLAR_API_KEY_HERE